<html>
<body>
    <meta charset="UTF-8">
    <h2>REGISTRO DE USUARIO</h2>
    <form method="post"> <!--especifica el método HTTP que se utilizará para enviar los datos del formulario al servidor.-->
        <label for="username">Nombre de Usuario: </label> <!--la etiqueta for se asocia al campo de entrada-->
        <input type="text" id="username" name="username" required> <!--id se utiliza para identificación única y acceso mediante CSS/JavaScript
        name se utiliza para identificar los datos del formulario enviado al servidor.-->
        <label for="password">Contraseña: </label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Registrar">
    </form>
</body>
</html>
